<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Medium</td><td>TestNgAssignment2.sixthTest()[pri:0, instance:TestNgAssignment2@3a82f6ef]<br/>TestNgAssignment2.fourthTest()[pri:0, instance:TestNgAssignment2@3a82f6ef]<br/></td></tr>
</table>
