<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62ada6">  <td>19/02/13 21:56:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgAssignment2.fourthTest()[pri:0, instance:TestNgAssignment2@3a82f6ef]">fourthTest</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/02/13 21:56:46</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgAssignment2.sixthTest()[pri:0, instance:TestNgAssignment2@3a82f6ef]">sixthTest</td> 
  <td>main@87765719</td>   <td></td> </tr>
</table>
