<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParamTestWithDataProvider1.initialize()[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/18 16:12:41</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParamTestWithDataProvider1.testPrimeNumberChecker(java.lang.Integer, java.lang.Boolean)[pri:0, instance:ParamTestWithDataProvider1@23ceabc1]">testPrimeNumberChecker</td> 
  <td>main@2107447833</td>   <td></td> </tr>
</table>
